<a class="linkedin-icon" href="${properties.target}" target="_blank">

    <sly data-sly-test="${properties.variant == 'black'}">
        <img class="show-mobile" src="/static/clientlibs/portfolio/images/linkedin/In-Black-34px-R.png">
        <img class="show-tablet" src="/static/clientlibs/portfolio/images/linkedin/In-Black-66px-R.png">
        <img class="show-desktop" src="/static/clientlibs/portfolio/images/linkedin/In-Black-66px-R.png">
    </sly>

    <sly data-sly-test="${properties.variant == 'white'}">
        <img class="show-mobile" src="/static/clientlibs/portfolio/images/linkedin/In-White-34px-R.png">
        <img class="show-tablet" src="/static/clientlibs/portfolio/images/linkedin/In-White-66px-R.png">
        <img class="show-desktop" src="/static/clientlibs/portfolio/images/linkedin/In-White-66px-R.png">
    </sly>
</a>
