
<a class="github-icon" href="${properties.target}" target="_blank">

   <sly data-sly-test="${properties.variant == 'black'}">
       <img class="show-mobile" src="/static/clientlibs/portfolio/images/github/GitHub-Mark-32px.png">
       <img class="show-tablet" src="/static/clientlibs/portfolio/images/github/GitHub-Mark-64px.png">
       <img class="show-desktop" src="/static/clientlibs/portfolio/images/github/GitHub-Mark-64px.png">
   </sly>

    <sly data-sly-test="${properties.variant == 'white'}">
        <img class="show-mobile" src="/static/clientlibs/portfolio/images/github/GitHub-Mark-Light-32px.png">
        <img class="show-tablet" src="/static/clientlibs/portfolio/images/github/GitHub-Mark-Light-64px.png">
        <img class="show-desktop" src="/static/clientlibs/portfolio/images/github/GitHub-Mark-Light-64px.png">
    </sly>

</a>

