body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.portfolio {
  font-family: 'Roboto', sans-serif;

  .background-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header {
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 2%;
    padding-top: 1%;
  }

  .github-icon {
    display: inline;
    margin: 0 10px;
  }

  .linked-icon {
    display: inline;
    margin: 0 10px;
  }



  //TYPE WRITER
  //TAKEN FROM https://css-tricks.com/snippets/css/typewriter-effect/


  // I have no idea why but typewriter needs a relative parent also h1 needs a block parent
  .dummy {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .typewriter {
    margin: auto;
  }

  .typewriter h1 {
    margin: 0 auto;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

}


@media screen and (min-width: 1025px){
  h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px){
  h1 {
    font-size: 35px;
  }
}


@media screen and (min-width: 0px) and (max-width: 768px){
  h1 {
    font-size: 20px;
  }
}


.show-desktop {
  @media screen and (min-width: 1025px) {
    
  }
  
  @media screen and (min-width: 768px) and (max-width: 1025px) {
    display: none;
  }
  
  @media screen and (min-width: 0px) and (max-width: 768px){
    display: none;
  }
}

.show-tablet {
  @media screen and (min-width: 1025px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1025px) {

  }

  @media (min-width: 0px) and (max-width: 768px){
    display: none;
  }
}

.show-mobile {
  @media (min-width: 1025px) {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1025px) {
    display: none;
  }

  @media (min-width: 0px) and (max-width: 768px){

  }
}

// EDITOR MODE STYLING
.sling-cms-component, .sling-cms-editor{
  position: relative;

  .level-left {
    padding-right: 15%;
  }
}